@-webkit-keyframes MMM-NBA-pulse {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.MMM-NBA .table {
    border-spacing: 10px 0px;
    border-collapse: separate;
    text-align: center;
}

.MMM-NBA .icon {
    -webkit-filter: grayscale(100%);
}

.MMM-NBA .row {
    vertical-align: middle;
}

.MMM-NBA .away {
    -webkit-transform: scaleX(-1);
}

.MMM-NBA .redzone {
    -webkit-animation: MMM-NFL-pulse 2s infinite;
}

.MMM-NBA .live {
    font-size: 10px;
    line-height: 15px;
    display: block;
}

.MMM-NBA .ball-home {
    margin-right: 10px;
}

.MMM-NBA .ball-away {
    margin-left: 10px;
}

.MMM-NBA-blur {
    -webkit-filter: blur(2px) brightness(50%);
}

.MMM-NBA .modal {
    position: fixed;
    text-align: left;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.MMM-NBA .modal ul {
    margin: 0px;
}
